@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Argentina flag colors */
  --argentina-blue: #74acdf;
  --argentina-white: #ffffff;
  --argentina-sun: #f6b40e;
  --text-blue: #2e3192;
}

body {
  min-height: 100vh;
}

/* Custom styles for video container shadow */
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(116, 172, 223, 0.2), 0 4px 6px -2px rgba(116, 172, 223, 0.1);
}

